*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 10px 11px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 0px;
}

header a{
    padding: 18px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero h1{
 color: aliceblue

}


.row h2 {
    font-size: 15px ;
    text-align: center;
    margin-right: 50px;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 150vh;
    background-image: linear-gradient(
        0deg,
        rgba(10, 10, 10, 0.5),
        rgba(0,0,0,0.5)
    )
    ,url("dob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#quienes-somos{
    text-align: center;
    margin-top: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    
}

#quienes-somos img{
    border-radius: 100px;
    
}


.title{
    text-align: center;
}

.row img {
    width: 100%;
}


.row-des img {
    width: 30%;
    margin-left: 35%;
    border-radius: 50%;
}

.row-des h1 {

    font-size: 15px ;
    text-align: center;
    margin-right: 50px;
   
}


.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 2px;
}


.row h1 {
    font-size: 14px;
}



footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

